aside {
    background-color: #17263A !important;
}

main {
    background-color: #F1F4FB;
}

aside {
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0px 6px 18px rgba(196, 205, 224, 0.2);
    transition: left 0.2s ease, width 0.2s ease;
    z-index: 1000;
}

.error-msg {
    color: #f7284a;
}

.pagination li a {
    padding: 0.65rem 0.95rem;
    border: 1px solid #e6ebf1;
    background-color: #fff;
}

.pagination li.selected a {
    z-index: 1;
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;


}


.previous a, .next a {
    cursor: auto;
    background-color: #fff;
    border-color: #e9ebfa;
    border: 1px solid #e6ebf1;
    padding: 0.65rem 0.95rem;
}

.pagination li.disabled {
    color: #ced4da;

}

.pagination-container ol {
    gap: 0 !important;
}

.pagination-container {
    display: flex;
    gap: 0;
    border: 1px solid #e6ebf1;
}


.chakra-select__wrapper {
    width: 10% !important;
    text-align: center;
}

.chakra-table, .chakra-table th, .chakra-table td {
    border: 1px solid #DEE2E6 !important;
}